* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fdf8ea;
}

.heading-primary {
  font-size: 4.8rem;
  color: #8c1007;
}

.header {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 4rem;
}

.input-box {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: start;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.input-box input {
  width: 30rem;
  padding: 1rem 1.4rem;
  border: none;
  box-shadow: inset;
  box-shadow: #00000015 1px 1px 20px 1px;
  border-radius: 50px;
  font-family: inherit;
}

.input-box input:focus {
  outline: 3px solid #8c1007;
}

.input-section button:focus {
  outline: 3px solid #000000;
}

.input-section button {
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  align-self: flex-end;
  width: 20rem;
  background-color: #8c1007;
  border: none;
  border-radius: 3px;
  color: #fdf8ea;
  transition: all 0.4s;
}

.input-section button:hover {
  cursor: pointer;
  background-color: #660b05;
}

.input-section {
  gap: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
